{
  "env": {
    "browser": true,
    "es6": true,
  },

  "plugins": [
    "react"
  ],

  "extends": "standard",

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },

  "parser": "babel-eslint",

  "rules": {
    "jsx-quotes": [2, "prefer-double"],
    "no-irregular-whitespace": 0,
    "react/display-name": 2,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 2,
    "react/jsx-closing-bracket-location": [2, 'after-props'],
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-indent-props": 2,
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": [2, { "maximum": 4 }],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 2,
    "react/no-set-state": 0,
    "react/no-unknown-property": 2,
    "react/no-unused-prop-types": 2,
    "react/prefer-es6-class": 0,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/wrap-multilines": 0,
  }
}
