node_modules
.sass-cache
npm-debug.log
.DS_Store
.idea
.vscode
dist
lib
es
tmp
coverage
docs-site/bundle.js
docs-site/style.css
*.iml
.idea

docs/calendar.md
docs/date_input.md
docs/day.md
docs/month.md
docs/week.md
docs/year_dropdown_options.md
docs/year_dropdown.md
