.datepicker-calendar-triangle {
  margin-top: -8px;
  margin-left: -8px; }
  .datepicker-calendar-triangle, .datepicker-calendar-triangle:before {
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px;
    border-top: none;
    border-bottom-color: #f0f0f0; }
  .datepicker-calendar-triangle:before {
    content: '';
    z-index: -1;
    border-width: 8px;
    top: -1px;
    left: -8px;
    border-bottom-color: #aeaeae; }

.datepicker-calendar-header-navigation-left, .datepicker-calendar-header-navigation-right {
  width: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 5px;
  width: 0;
  border: 6px solid transparent; }

.datepicker-calendar-day.this-month:hover, .datepicker-calendar-day.selected {
  border: 1px solid transparant;
  border-radius: 4px; }

.datepicker-calendar-container {
  position: absolute;
  display: inline-block;
  z-index: 2147483647; }

.datepicker-calendar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  display: inline-block;
  position: relative; }

.datepicker-calendar-triangle {
  position: absolute;
  left: 50px; }

.datepicker-calendar-header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 5px;
  position: relative; }

.datepicker-calendar-header-month {
  color: black;
  font-weight: bold;
  font-size: 13px; }

.datepicker-calendar-header-navigation-left {
  left: 10px;
  border-right-color: #ccc; }
  .datepicker-calendar-header-navigation-left:hover {
    border-right-color: #b3b3b3; }

.datepicker-calendar-header-navigation-right {
  right: 10px;
  border-left-color: #ccc; }
  .datepicker-calendar-header-navigation-right:hover {
    border-left-color: #b3b3b3; }

.datepicker-calendar-header-day {
  color: #ccc;
  display: inline-block;
  width: 28px;
  line-height: 24px; }

.datepicker-calendar-month {
  margin: 5px;
  text-align: center; }

.datepicker-calendar-day {
  color: #ccc;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px; }
  .datepicker-calendar-day.this-month {
    color: #000;
    cursor: pointer; }
    .datepicker-calendar-day.this-month:hover {
      background-color: #f0f0f0; }
  .datepicker-calendar-day.today {
    font-weight: bold; }
  .datepicker-calendar-day.selected {
    background-color: #216ba5;
    color: #fff; }
    .datepicker-calendar-day.selected:hover {
      background-color: #1d5d90; }

.datepicker-input {
  position: relative;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #aeaeae;
  line-height: 16px;
  padding: 6px 10px 5px; }
  .datepicker-input:focus {
    outline: none;
    border-color: #aeaeae;
    box-shadow: inset 0 2px 2px #e9e9e9, 0 0 10px 0 rgba(73, 107, 125, 0.3); }
