$border-color: #aeaeae;
$background-color: #f0f0f0;
$selected-color: #216ba5;

$border-radius: 4px;

.calendar {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: inline-block;
}

.calendar-header {
  position: relative;
  text-align: center;
  background-color: $background-color;
}

.calendar-header-month {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.calendar-header-navigation-left,
.calendar-header-navigation-right {
  width: 28px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}

.calendar-header-navigation-left {
  float: left;
}

.calendar-header-navigation-right {
  float: right;
}

.month {
  display: inline-block;
}

.day {
  display: inline-block;
  width: 28px;
  line-height: 28px;
  text-align: center;
  color: #ccc;
  cursor: pointer;

  &.head {
    border-bottom: 1px solid $border-color;
    background-color: $background-color;
  }

  &:hover {
    background-color: $background-color;
    border: 1px solid transparant;
    border-radius: $border-radius;
    color: black;
  }
}

.this-month {
  color: black;
}

.today {
  font-weight: bold;
}

.selected {
  background-color: $selected-color;
  border: 1px solid transparant;
  border-radius: $border-radius;
  color: white;

  &:hover {
    background-color: darken($selected-color, 5%);
    color: white;
  }
}
