$border-color: #aeaeae;
$background-color: #f0f0f0;
$selected-color: #216ba5;

$border-radius: 4px;
$item-size: 28px;

%calendar-navigation {
  width: $item-size;
  line-height: $item-size;
  text-align: center;
  cursor: pointer;
}

%transparant-rounded-border {
  border: 1px solid transparant;
  border-radius: $border-radius;
}

.calendar {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #ccc;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: inline-block;
}

.calendar-header {
  position: relative;
  text-align: center;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
}

.calendar-header-month {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.calendar-header-navigation-left {
  @extend %calendar-navigation;
  float: left;
}

.calendar-header-navigation-right {
  @extend %calendar-navigation;
  float: right;
}

.calendar-header-days {
  width: 252px;

  > .item {
    display: inline-block;
    width: $item-size;
    line-height: $item-size;
  }
}

.calendar-month {
  display: block;
  margin: 5px;
  text-align: center;
}

.calendar-day {
  display: inline-block;
  width: $item-size;
  line-height: $item-size;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $background-color;
    @extend %transparant-rounded-border;
    color: black;
  }
}

.this-month {
  color: black;
}

.today {
  font-weight: bold;
}

.selected {
  background-color: $selected-color;
  @extend %transparant-rounded-border;
  color: white;

  &:hover {
    background-color: darken($selected-color, 5%);
    color: white;
  }
}
