@import "variables";
@import "mixins";

.datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: inline-block;
  position: relative;
}

.datepicker__container {
  position: absolute;
  display: inline-block;
  z-index: 2147483647;
}

.datepicker__triangle {
  @extend %triangle-arrow-up;
  position: absolute;
  left: 50px;
}

.datepicker__header {
  text-align: center;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding-top: 8px;
  position: relative;
}

.datepicker__current-month {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.datepicker__navigation {
  line-height: $item-size;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 6px solid transparent;

  &--previous {
    left: 10px;
    border-right-color: $muted-color;

    &:hover {
      border-right-color: darken($muted-color, 10%);
    }
  }

  &--next {
    right: 10px;
    border-left-color: $muted-color;

    &:hover {
      border-left-color: darken($muted-color, 10%);
    }
  }
}


.datepicker__week-day {
  color: $muted-color;
  display: inline-block;
  width: $item-size + (2 * $day-margin);
  line-height: $item-size;
}

.datepicker__month {
  margin: $datepicker__margin;
  text-align: center;
}

.datepicker__day {
  color: $text-color;
  display: inline-block;
  width: $item-size;
  line-height: $item-size;
  text-align: center;
  margin: $day-margin;
  cursor: pointer;

  &:hover {
    border-radius: $border-radius;
    background-color: $background-color;
  }
  
  &--today {
    font-weight: bold;
  }

  &--selected {
    border-radius: $border-radius;
    background-color: $selected-color;
    color: #fff;

    &:hover {
      background-color: darken($selected-color, 5%);
    }
  }

  &--disabled {
    cursor: default;
    color: $muted-color;

    &:hover {
      background-color: transparent;
    }
  }
}

.datepicker__input {
  position: relative;
  font-size: 13px;
  border-radius: $border-radius;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid $border-color;
  line-height: 16px;
  padding: 6px 10px 5px;

  &:focus {
    outline: none;
    border-color: $border-color;
    box-shadow: inset 0 2px 2px #e9e9e9, 0 0 10px 0 rgba(73, 107, 125, .3);
  }
}
