@import "variables";
@import "mixins";

.react-datepicker {
  background-color: #fff;
  border-radius: $datepicker__border-radius;
  border: 1px solid $datepicker__border-color;
  color: $datepicker__text-color;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $datepicker__font-size;
  position: relative;
}

.react-datepicker__triangle {
  left: 50px;
  position: absolute;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  @extend %triangle-arrow-up;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle {
  @extend %triangle-arrow-down;
}

.react-datepicker__tether-element-attached-right .react-datepicker__triangle {
  left: auto;
  right: 42px;
}

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}

.react-datepicker__header {
  background-color: $datepicker__background-color;
  border-bottom: 1px solid $datepicker__border-color;
  border-top-left-radius: $datepicker__border-radius;
  border-top-right-radius: $datepicker__border-radius;
  padding-top: 8px;
  position: relative;
  text-align: center;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px;
}

.react-datepicker__current-month {
  color: #000;
  font-size: $datepicker__font-size * 1.18;
  font-weight: bold;
  margin-top: 0;
}

.react-datepicker__navigation {
  border: $datepicker__navigation-size solid transparent;
  cursor: pointer;
  line-height: $datepicker__item-size;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 0;
  z-index: 1;

  &--previous {
    border-right-color: $datepicker__muted-color;
    left: 10px;

    &:hover {
      border-right-color: darken($datepicker__muted-color, 10%);
    }
  }

  &--next {
    border-left-color: $datepicker__muted-color;
    right: 10px;

    &:hover {
      border-left-color: darken($datepicker__muted-color, 10%);
    }
  }

  &--years {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;

    &-previous {
      border-top-color: $datepicker__muted-color;
      top: 4px;

      &:hover {
        border-top-color: darken($datepicker__muted-color, 10%);
      }
    }

    &-upcoming {
      border-bottom-color: $datepicker__muted-color;
      top: -4px;

      &:hover {
        border-bottom-color: darken($datepicker__muted-color, 10%);
      }
    }
  }
}

.react-datepicker__month-container {
  display: inline;
  float: left;
}

.react-datepicker__month {
  margin: $datepicker__margin;
  text-align: center;
}

.react-datepicker__week-number {
  color: $datepicker__muted-color;
  display: inline-block;
  line-height: $datepicker__item-size;
  margin: $datepicker__day-margin;
  text-align: center;
  width: $datepicker__item-size;
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: $datepicker__text-color;
  display: inline-block;
  line-height: $datepicker__item-size;
  margin: $datepicker__day-margin;
  text-align: center;
  width: $datepicker__item-size;
}

.react-datepicker__day {
  cursor: pointer;

  &:hover {
    background-color: $datepicker__background-color;
    border-radius: $datepicker__border-radius;
  }

  &--today {
    font-weight: bold;
  }

  &--highlighted {
    background-color: $datepicker__highlighted-color;
    border-radius: $datepicker__border-radius;
    color: #fff;

    &:hover {
      background-color: darken($datepicker__highlighted-color, 5%);
    }
  }

  &--selected,
  &--in-selecting-range,
  &--in-range {
    background-color: $datepicker__selected-color;
    border-radius: $datepicker__border-radius;
    color: #fff;

    &:hover {
      background-color: darken($datepicker__selected-color, 5%);
    }
  }

  &--keyboard-selected {
    background-color: lighten($datepicker__selected-color, 10%);
    border-radius: $datepicker__border-radius;
    color: #fff;

    &:hover {
      background-color: darken($datepicker__selected-color, 5%);
    }
  }

  &--in-selecting-range:not(&--in-range) {
    background-color: rgba($datepicker__selected-color, .5);
  }

  &--in-range:not(&--in-selecting-range) {
    .react-datepicker__month--selecting-range & {
      background-color: $datepicker__background-color;
      color: $datepicker__text-color;
    }
  }

  &--disabled {
    color: $datepicker__muted-color;
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }
}

.react-datepicker__input-container {
  display: inline-block;
  position: relative;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view {
  border: 1px solid transparent;
  border-radius: $datepicker__border-radius;

  &:hover {
    cursor: pointer;

    .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__month-read-view--down-arrow {
      border-top-color: darken($datepicker__muted-color, 10%);
    }
  }

  &--down-arrow {
    @extend %triangle-arrow-down;
    border-top-color: $datepicker__muted-color;
    border-width: $datepicker__navigation-size;
    float: right;
    margin-left: 20px;
    position: relative;
    top: 8px;
  }

}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
  background-color: $datepicker__background-color;
  border-radius: $datepicker__border-radius;
  border: 1px solid $datepicker__border-color;
  left: 25%;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 50%;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  &--scrollable {
    height: 150px;
    overflow-y: scroll;
  }
}

.react-datepicker__year-option,
.react-datepicker__month-option {
  display: block;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &:first-of-type {
    border-top-left-radius: $datepicker__border-radius;
    border-top-right-radius: $datepicker__border-radius;
  }

  &:last-of-type {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border-bottom-left-radius: $datepicker__border-radius;
    border-bottom-right-radius: $datepicker__border-radius;
    user-select: none;
  }

  &:hover {
    background-color: $datepicker__muted-color;

    .react-datepicker__navigation--years-upcoming {
      border-bottom-color: darken($datepicker__muted-color, 10%);
    }

    .react-datepicker__navigation--years-previous {
      border-top-color: darken($datepicker__muted-color, 10%);
    }
  }

  &--selected {
    left: 15px;
    position: absolute;
  }
}

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;

  &::after {
    background-color: $datepicker__selected-color;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\00d7";
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    line-height: 1;
    margin: -8px auto 0;
    padding: 2px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 50%;
    width: 16px;
  }
}

.react-datepicker__today-button {
  background: $datepicker__background-color;
  border-top: 1px solid $datepicker__border-color;
  clear: left;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
}

.react-datepicker__tether-element {
  z-index: 2147483647;
}

.react-datepicker__portal {
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2147483647;

  .react-datepicker__day-name,
  .react-datepicker__day {
    line-height: 3rem;
    width: 3rem;
  }

  // Resize for small screens
  @media (max-width: 400px), (max-height: 550px)  {
    .react-datepicker__day-name,
    .react-datepicker__day {
      line-height: 2rem;
      width: 2rem;
    }
  }

  .react-datepicker__current-month {
    font-size: $datepicker__font-size * 1.8;
  }

  .react-datepicker__navigation {
    border: 1.8 * $datepicker__navigation-size solid transparent;
  }

  .react-datepicker__navigation--previous {
    border-right-color: $datepicker__muted-color;

    &:hover {
      border-right-color: darken($datepicker__muted-color, 10%);
    }
  }

  .react-datepicker__navigation--next {
    border-left-color: $datepicker__muted-color;

    &:hover {
      border-left-color: darken($datepicker__muted-color, 10%);
    }
  }
}
