%triangle-arrow-up {
  margin-top: -$triangleSize;
  margin-left: -$triangleSize;

  &, &:before {
    box-sizing: content-box;
    position: absolute;
    border: $triangleSize solid transparent;

    height: 0;
    width: 1px;
    border-top: none;
    border-bottom-color: $background-color;
  }

  &:before {
    content: '';
    z-index: -1;
    border-width: $triangleSize;

    top: -1px;
    left: -$triangleSize;
    border-bottom-color: $border-color;
  }
}

%transparant-rounded-border {
  border: 1px solid transparant;
  border-radius: $border-radius;
}
