$border-color: #aeaeae;
$background-color: #f0f0f0;
$selected-color: #216ba5;
$muted-color: #ccc;
$text-color: #000;

$border-radius: 4px;
$item-size: 24px;
$day-margin: 2px;
$triangle-size: 8px;
$datepicker__margin: 5px;
