.topbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 70px;
  background-color: #216ba5;
}

.topbar_wrapper {
  @extend %container-styling;
  color: #fff;
}

.topbar__logo {
  margin-top: 25px;
  font-size: 14px;
  color: rgba(255, 255, 255, .75);
}
