.topbar__wrapper {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 70px;
  background-color: #216ba5;
}

.topbar {
  @extend %container-styling;
  color: #fff;
}

.topbar__logo {
  margin-top: 18px;
}

.logo__icon {
  display: inline-block;
  font-size: 32px;
}

.logo__section {
  display: inline-block;
  font-size: 14px;
  color: rgba(255, 255, 255, .75);
}
